.aboutMe-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #8C43FF;
    padding: 80px 20px 180px 20px;
    color: #fff;
    text-align: center;

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 500px;

        .title {
            font-size: 30px;
            font-family: 'eurostile';
            font-weight: bold;
            margin: 0;
        }

        .description {
            font-size: 20px;
        }
    }
}