.skills-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    max-width: 1400px;
    margin: auto;

    .skill-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
        width: calc(100% - 200px);
        box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
        z-index: 2;
        margin-top: -100px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 10px;

        .info-icon {
            position: absolute;
            right: 15px;
            top: 10px;
        }

        @media screen and (max-width: 1100px) {
            width: 90%;
        }
    }


    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 25px;
        width: calc(33% - 50px);
        height: calc(100% - 160px);
        border-right: 1px solid #ddd;

        @media screen and (max-width: 1100px) {
            width: 100%;
            height: auto;
            border-right: none;
            border-bottom: 1px solid #ddd;
        }

        &:last-child {
            border: none !important;
        }

        .title {
            margin: 20px 0 0 0;

            &.skill {
                font-size: 30px;
                color: #283347;
            }
        }

        .description {
            margin: 20px 0 0 0;
            font-size: 18px;
            text-align: center;

            &.skill-details {
                width: 100%;

                .skill-item {
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;

                    svg {
                        margin-top: 5px;
                        width: 100px;
                        height: 10px;
                    }
                }
            }

            &.languages {
                color: #8c43ff;
                font-weight: bold;
            }
        }
    }
}