.main-container {
  min-height: 100vh;
  background: #fff; }

.title {
  font-family: 'eurostile';
  font-weight: bold; }

.description {
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter; }

.App {
  background-color: #2f2f2f; }
